<p id="notice"><%= notice %></p>

<p>
  <strong>Ammount:</strong>
  <%= @house.ammount %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @house.neighborhood_id %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
