<%= form_with(model: neighborhood, local: true, class: 'form') do |form| %>
  <% if neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
      <% neighborhood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :neighborhood_name, class: 'form-control'%>
  </div>

      <h2>Houses</h2>

      <%= form.fields_for :houses do |house| %>
    	  <div class="house_fields clearfix">
    		  <div class="form-group">
    		  <%= house.label :ammount %>
    		  <%= house.text_field :ammount, {class: 'form-control'} %>
    		  <%= house.check_box :_destroy, {class: 'pull-right'}%>
    		  <%= house.label :_destroy, 'remove', {class: 'pull-right mr_1'} %>
    		  </div>
    	  </div>
      
    <% end %>

    <div class="actions clearfix mt_1">
      <%= form.submit class: 'btn btn-primary pull-right' %>
    </div>
<% end %>
